<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div th:switch="${items}">
    <h2 th:case="null">No items yet!</h2>
        <div th:case="*">
            <h2>Items</h2>
            <table>
                <thread>
                    <tr>
                        <th>Item Name</th>
                        <th>Item Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thread>
                <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.itemName}"></td>
                    <td th:text="${item.itemDescription}"></td>
                    <td><a th:href="@{edit/{itemId}(itemId=${item.itemId})}">Edit</a></td>
                    <td><a th:href="@{delete/{itemId}(itemId=${item.itemId})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/items">Add a new item</a> </p>
</div>

</body>
</html>